<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>

  <title>Pinterest Clone</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
