.fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 10;
}

.input {
  margin-bottom: 2em;
}

.image-preview {
  margin: 2em auto 0 auto;
  max-width: 40em;
  text-align: center;
  display: block;
}
